.profileContainer {
    display: inline-grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    grid-template-rows: repeat(5, .5fr);
}
#profilePhoto {
    height: 200px;
    width: 200px;
}
.profileInfo {
    grid-column: 1 / 2;
    grid-row: 1/2;
    background: #799C9C;
}
.entryList {
    grid-column: 3/10;
    grid-row: 2/5;
    background: #799C9C;
}
.practiceCards {
    grid-column: 11/13;
    grid-row: 1/3;
    background: #799C9C;
}
.libraryCards {
    grid-column: 11/13;
    grid-row: 3/6;
    background: #799C9C;
}
.addEntry {
    grid-column: 6;
    text-align: center;
}
.btn {
    background: #799C9C;
    color: white
}
.bio {
    background: #EBFBFA;
    margin: .5em;
}
.libraryCard {
    background: #EBFBFA;
    margin: 1em;
    text-align: center;
    height: auto;
}
.libraryCard button {
    display: inline;
    align-items:flex-end;
}
.practiceCard {
    background: #EBFBFA;
    margin: 1em;
    text-align: center;
    height: auto;
}
h2 {
    text-align: center;
}
.practiceCard button {
    display: inline;
    align-items:flex-end;
}
.entryCard {
    background: #EBFBFA;
    margin: 1em;
    text-align: justify;
    height: auto;
}
.entryForm {
    margin: 100px;
    height: fit-content;
}

.form-control {
    display: inline;
    width: 90%;
    align-content: center;
    height: 5em;
}
.formGroup {
    margin: 2em;
}
.label {
    text-decoration: bold;
}
fieldset {
    background: #799C9C;
}